/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: navajowhite;
    font-family: Tahoma;
    background-image: url(/img/BackgroundImage.jpg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.navbar navbar-expand-lg navbar-light bg-white {
    background-color: whitesmoke;
}

.search {
    margin: 0 auto;
    display: block;
    text-align: center;
}

body {
    margin-top: 20px;
    background-color: navajowhite;
}

.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}

    .review-list ul li .left span img {
        border-radius: 50%;
    }

.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}

    .review-list ul li .right h4 .gig-rating {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: #ffbf00;
    }

        .review-list ul li .right h4 .gig-rating svg {
            margin: 0 4px 0 0px;
        }

.country .country-flag {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin: 0 7px 0 0px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.country .country-name {
    color: #95979d;
    font-size: 13px;
    font-weight: 600;
}

.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

    .review-list ul li .right {
        flex: auto;
    }

    .review-list ul li .review-description {
        margin: 20px 0 0;
    }

        .review-list ul li .review-description p {
            font-size: 14px;
            margin: 0;
        }

    .review-list ul li .publish {
        font-size: 13px;
        color: #95979d;
    }

.review-section h4 {
    font-size: 20px;
    color: #222325;
    font-weight: 700;
}

.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #4a73e8;
    text-align: left;
}

.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #efeff0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    ;
    border-radius: 999px;
}

.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #ffb33e;
}

.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}

.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}

.review-section .stars-counters td {
    white-space: nowrap;
}

.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}

.ranking h6 {
    font-weight: 600;
    padding-bottom: 16px;
}

.ranking li {
    display: flex;
    justify-content: space-between;
    color: #95979d;
    padding-bottom: 8px;
}

.review-section .stars-counters td.star-num {
    color: #4a73e8;
}

.ranking li > span {
    color: #62646a;
    white-space: nowrap;
    margin-left: 12px;
}

.review-section {
    border-bottom: 1px solid #dadbdd;
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 64px;
}

    .review-section select, .review-section .select2-container {
        width: 188px !important;
        border-radius: 3px;
    }

ul, ul li {
    list-style: none;
    margin: 0px;
}

.helpful-thumbs, .helpful-thumb {
    display: flex;
    align-items: center;
    font-weight: 700;
}

/*ShoppingCart*/

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}