@model PizzaOrderingSystem.Web.ViewModels.ReviewViewModels.ReviewViewModel

<!-- Modal -->
<form method="post" asp-action="Delete" asp-controller="Review" asp-route-id="@Model.Id">
    <div class="modal fade" id="exampleModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-black">Are you sure you want to delete this ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>