@model PizzaOrderingSystem.Web.ViewModels.PaymentCardViewModels.AddCardViewModel

@{
    ViewData["Title"] = "Payment Settings";
}


<section class="p-4 p-md-5 bg-success">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="card rounded-4">
                <div class="card-body p-3">
                    <div class="text-center mb-4">
                        <h3>Payment Settings</h3>
                    </div>
                    <p class="fw-bold mb-4 pb-2">Saved cards:</p>
                    @foreach (var card in Model.SavedCards)
                    {
                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <img class="img-fluid" src=@card.ImageUrl />
                            <div class="flex-fill mx-3">
                                <div class="form-outline">
                                    <input type="text" id="formControlLgXc" class="form-control form-control-lg"
                                       value="@card.CardNumber" />
                                    <label class="form-label" for="formControlLgXc">Card Number</label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                                Delete
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">Are you sure you want to delete this ?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Close</button>
                                            <form asp-action="Delete" asp-controller="PaymentCard" method="post">
                                                <input name="id" type="hidden" value="@card.Id" />
                                                <button type="submit" class="btn btn-danger">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <form asp-action="Add">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    
                        <p class="fw-bold mb-4">Add new card:</p>
                        <div class="form-outline mb-4">
                            <input asp-for="CardHolder" type="text" id="formControlLgXsd" class="form-control form-control-lg" />
                            <label asp-for="CardHolder" class="form-label" for="formControlLgXsd">Cardholder's Name</label>
                            <span asp-validation-for="CardHolder" class="text-danger"></span>
                        </div>

                        <div class="row mb-4">
                            <div class="col-7">
                                <div class="form-outline">
                                    <input asp-for="CardNumber" type="text" id="formControlLgXM" class="form-control form-control-lg" />
                                    <label asp-for="CardNumber" class="form-label" for="formControlLgXM">Card Number</label>
                                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline">
                                    <input asp-for="ExpirationDate" type="text" id="formControlLgExpk" class="form-control form-control-lg"
                                           placeholder="MM/YY" />
                                    <label asp-for="ExpirationDate" class="form-label" for="formControlLgExpk">Expire</label>
                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-outline">
                                    <input asp-for="Cvc" type="password" id="formControlLgcvv" class="form-control form-control-lg" />
                                    <label asp-for="Cvc" class="form-label" for="formControlLgcvv">CVC</label>
                                    <span asp-validation-for="Cvc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Add Card" class="btn btn-dark" />
                        <a class="btn btn-dark" asp-controller="Account" asp-action="ViewProfile">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>