@using PizzaOrderingSystem.Web.ViewModels.Account
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row bg-success">

    <h2 class="text-center mt-3">@ViewData["Title"]</h2>

    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <h2 class="text-center">Create a new account.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-2">
                <input asp-for="FirstName" class="form-control bg-white" autocomplete="firstname" aria-required="true" />
                <label asp-for="FirstName" class="form-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-outline mb-2">
                <input asp-for="LastName" class="form-control bg-white" autocomplete="lastname" aria-activedescendantaria-required="true" />
                <label asp-for="LastName" class="form-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-outline mb-2">
                <input asp-for="Username" class="form-control bg-white" autocomplete="username" aria-activedescendantaria-required="true" />
                <label asp-for="Username"class="form-label"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-outline mb-2">
                <input asp-for="Email" class="form-control bg-white" autocomplete="username" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-outline mb-2">
                <input asp-for="Password" class="form-control bg-white" autocomplete="new-password" aria-required="true" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-outline mb-2">
                <input asp-for="ConfirmPassword" class="form-control bg-white" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-dark btn-block mb-4">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}