@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5 py-5 z-depth-1 bg-dark text-white" style="border-radius: 1rem;">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row justify-content-center mb-5">
            <p class="text-white">
                Our pizza company is established in 2005 in the city of Sofia Bulgaria.Our pizza's are made from the finest dough by an old italian recipe. We use fresh and organic products.
                You can choose from 10 different pizza's and salads. We deliver in the whole Sofia metropolitan area for free !</p>
             
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

                <h3 class="font-weight-bold">Contact Us</h3>

                <p class="text-dark">
                    We are located in the city of Sofia Bulgaria.
                </p>

                <p><span class="font-weight-bold mr-2">Email:</span>info@onlinepizza.com</p>
                <p><span class="font-weight-bold mr-2">Manager Phone:</span>+359 894 56 78 92 </p>

            </div>
        </div>
    </section>
</div>

