@using PizzaOrderingSystem.Common
@model PizzaOrderingSystem.Web.ViewModels.ReviewViewModels.AllReviewsViewModel

@{
    ViewData["Title"] = "Reviews";
}

<div class="container mt-0 bg-white">
    <div class="mt-3 ml-4 text-dark">
        <h1 class="mt-4">Reviews</h1>
    </div>
    <hr />
    <div id="reviews" class="review-section">
        <div class="review-list mt-1">
            <ul>
                <li>
                    <h4 class="m-0">@Model.Reviews.Count Reviews</h4>
                </li>
                @foreach (var item in Model.Reviews)
                {
                    <li>
                        <div class="d-flex">    
                            <div class="right">
                                <h4>
                                    @item.AuthorName
                                </h4>
                                <div class="review-description text-dark">
                                    <p>
                                        @item.Content
                                    </p>
                                </div>
                                <span class="publish py-3 d-inline-block w-100 text-black">@item.PublishedOn</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>