@using PizzaOrderingSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<h1 style="text-align:center" class="text-dark">Welcome to Manager Area!</h1>
<h1 style="text-align:center" class="text-dark">You can check all sales here :</h1>


<p class="mt-4" style="text-align:center">
    <a class="btn-lg btn-dark mt-2 ml-4 mb-4 btn-lg" asp-area="Manager" asp-controller="Sale" asp-action="Index">SALES</a>
</p>



