@using PizzaOrderingSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="bg-dark ">
    <h1 style="text-align:center" class="text-white">WELCOME TO MANAGER AREA!</h1>
    <h1 style="text-align:center" class="text-white">YOU CAN CHECK ALL OUR SALES HERE :</h1>
</div>



<p class="mt-4" style="text-align:center">
    <a class="btn-lg btn-dark mt-2 ml-4 mb-4 btn-lg" asp-area="Manager" asp-controller="Sale" asp-action="Index">CHECK SALES</a>
</p>



