@model IEnumerable<PizzaOrderingSystem.Web.ViewModels.Manager.Sales.SaleViewModel>

@{
    ViewData["Title"] = "Sales";
}


<ul class="list-group list-group-light" style="width: 800px">
    @foreach (var sale in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center bg-white text-dark">
            <div class="d-flex align-items-center">
                <div class="ms-4">
                    <p class="fw-bold mb-1">Sale Number: @sale.Id</p>
                    <p class="fw-bold mb-1">Payment Type: @sale.PaymentType</p>
                    <p class="fw-bold mb-1">Sale Date: @sale.SaleDate</p>
                    <p class="text-dark mb-0">Amount : @sale.Amount</p>
                </div>
            </div>
        </li>
    }
</ul>




<div>
    <a class="btn btn-dark btn-lg mt-3" asp-area="Manager" asp-controller="Home" asp-action="Index">Back</a>
    <a class="btn btn-dark btn-lg mt-3" asp-area="Manager" asp-controller="Sale" asp-action="UpdateSales">Update</a>
    <a class="btn btn-dark btn-lg mt-3" asp-area="Manager" asp-controller="Sale" asp-action="SalesInfo">Sales Info</a>
</div>

