@model PizzaOrderingSystem.Web.ViewModels.Manager.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Manager dashboard";
}

<h1 class ="text-dark">Welcome to Manager Area</h1>
<div class="bg-dark text-white">
    <div class="mt-4 ml-4">
        <p class ="mt-4 ml-4">Here you can track all your sales and filter them by month and type of payment.</p>
        <p class ="mt-4 ml-4"> If you want to update, delete or addd any information about products ot restaurants you must contact the admin </p>
        <img class="mb-4 ml-4" src="/img/big-boss-logo-design-inspirations_625622-12.webp" />
    </div>

</div>

<div>
    <a class="btn btn-dark mt-3 btn-lg" asp-area="Manager" asp-controller="Sale" asp-action="Index">Check Sales</a>
</div>


