@using PizzaOrderingSystem.Common
@using PizzaOrderingSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


<ul class="navbar-nav ms-auto ml-4 text-dark" style="font-size: 22px">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link btn btn-link text-text-white" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        else if (this.User.IsInRole(GlobalConstants.ManagerRoleName))
        {
            <li class="nav-item">
                <a class="nav-link btn btn-link text-white" asp-area="Manager" asp-controller="Dashboard" asp-action="Index" title="Manager">Manager</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="ShoppingCart" asp-action="Index">
                    <span><i class="fas fa-shopping-cart"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-link text-white" asp-controller="Account" asp-action="ViewProfile">
                    Hello @this.User.Identity.Name!
                </a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-link text-white" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-white" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>